.footer {
    height: 630px;
    position: relative;
    &__info {        
        position: absolute;
        top: 0;
        left:50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background-color: $main-color;
        padding: 53px;
    }
    &__addr {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 1;
        color: #ffffff;

    }
    &__phone {
        margin-top: 36px;
        font-weight: 700;
        font-size: 20px;
        line-height: 1;
        color: #ffffff;
        text-decoration: none;
        display: block;        
        text-align: center;
        &:hover {
            color:#FFFFFF;
        }
    }
    &__social {
        display: flex;
        width: 212px;        
        justify-content: space-between;
        align-items: center;
        margin: 36px auto 0 auto;             
    }    
}